#appCalc{
    height: 450px;
    width: 300px;
    border: 1px solid black;
    border-radius: 5px;
}

#appCalc form{
    height: 100%;
    width: 100%;
    background-color: black;
}

#appCalc input[type=text]{
    width: 90%;
    height: 25%;
    cursor: default;
    font-family: sans-serif;
    background-color: black;
    color: white;
    padding: 15px;
    text-align: right;
    font-size: 50px;
    border: 0;
    outline: none;
}

#appCalc input[type=button], input[type=reset]{
    width: 22%;
    cursor: pointer;
    font-family: sans-serif;
    font-weight: bold;
    font-size: 26px;
    color: black;
    padding: 18px;
    margin: 3px;
    border-radius: 100%;
}

#appCalc .orange{
    background-color: rgb(253, 149, 3);
    color: white !important;
}

#appCalc .gray{
    background-color: rgb(51, 51, 51);
    color: white !important;
}